.address{
    display: flex;
    flex-direction: column;
}
.address:hover{
    border: 1px solid #9e9c9c;
    border-radius: .2rem;
}
.address-icon{
    display: flex;
    position: absolute !important;
    font-size: 2rem;
}
.address-name{
    font-size: 12px;
}
.address-street{
    font-size: 14px;
}
.address-name,
.address-street{
    margin-left: 2rem;
}