.itemDetailContainer {
    height: 100vh;
    padding: 5rem 6rem;
    text-align: center;
    position: relative;
}
.itemDetail {
    border-radius: .5rem;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
.itemDetailImg {
    width: 40%;
} 
.itemDetailImg div {
    padding: 1rem;
}
.itemDetailInfo,
.itemDetailBtn {
    width: 30%;
}
.itemDetailInfo {
    
} 
.itemDetailBtn {
    border: 1px solid #ebebeb;
    border-radius: .5rem;
    padding: .5rem;
}
.propagateLoader {
    display: inline-block !important;
    position: absolute !important;
    top: 50%;
}